/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    @include padding-tb($alpha-leading,0);
    @include padding-lr($columns-gutter,$columns-gutter);
}

.c-row--alpha {
    background-color: palette(color-neutral,x-light);
}

.c-row--beta {
    color: palette(color-neutral,light);
    background-color: palette(color-neutral,dark);
}

.c-row--gamma {
    font-family: $gamma-font-family;
    background-color: palette(color-neutral,x-light);

    p {
        max-width: 34em;
        @include text-dimensions($gamma-font-size, $alpha-line-height);
    }
}
