/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    @include padding-tb($alpha-leading,0);
    @include padding-lr($columns-gutter,$columns-gutter);
}

.c-row--alpha {
    background-color: palette(color-neutral,xx-light);
    color: palette(color-neutral);
    @include padding-tb(1.5,2);

}

.c-row--beta {
    color: palette(color-neutral,light);
    background-color: palette(color-alpha,dark);
}

.c-row--gamma {
    font-family: $gamma-font-family;
    color: palette(color-neutral,x-dark);
    background-color: palette(color-neutral,x-light);

    p {
        max-width: 34em;
        @include text-dimensions($gamma-font-size, $alpha-line-height);
    }

}

.c-row--delta {
    font-family: $alpha-font-family;
    color: palette(color-alpha, light);
    background-color: palette(color-delta);
    @include padding-tb(4,2);

    p {
        max-width: 34em;
        @include text-dimensions($gamma-font-size, $alpha-line-height);
    }

    .c-highlight {
        color: palette(color-alpha,dark);

    }

}
