/*
    Components: Icons
    ---
    UI icons
*/

.c-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 1px;
    background-repeat: no-repeat;
    background-position: center top;

    @include hide-text;
}

.c-icon--toggle {
    background-image: url('../img/png/toggle--sprite.png');

    .svg & {
        background-image: url('../img/svg/toggle--sprite.svg');
    }

    .is-toggled & {
        background-position: center -46px;
    }
}

.c-icon--link {
    background-image: url('../img/svg/link.svg');
    width: 32px;
    height: 24px;
    background-size: cover;
    margin-left: -5px;
}

.c-icon--external {
    background-image: url('../img/svg/external.svg');
    @include margin-lr(.3);
    // width: 32px;
    // height: 24px;
    // background-size: cover;
    // margin-left: -5px;
}



.c-icon--more {
    background-image: url('../img/svg/c-icon--more.svg');
}

.c-icon--react {
    background-origin: black;
    background-image: url('../img/svg/c-icon--react.svg');
}

// .c-icon--card {
//
// }

.c-icon--01 {
    background-image: url('../img/svg/c-icon01.svg');
}

.c-icon--02 {
    background-image: url('../img/svg/c-icon02.svg');
}

.c-icon--03 {
    background-image: url('../img/svg/c-icon03.svg');
}

.c-icon--04 {
    background-image: url('../img/svg/c-icon04.svg');
}

.c-icon--05 {
    background-image: url('../img/svg/c-icon05.svg');
}

.c-icon--06 {
    background-image: url('../img/svg/c-icon06.svg');
}

.c-icon--07 {
    background-image: url('../img/svg/c-icon07.svg');
}

.c-icon--09 {
    background-image: url('../img/svg/c-icon09.svg');
}
