/*
    Components: Cards
    ---
    A card displays site content in a manner similar to a playing card.
*/

.c-card {
    @include padding-tb(1,1);
    @include padding-lr(1,1);
    @include margin-bottom(1);


}
    // Reset bottom margins on children to make equal paddings possible
    .c-card > *:last-child,
    .c-card > *:last-child > *:last-child,
    .c-card > *:last-child > *:last-child > *:last-child {
        margin-bottom: 0;
    }

.c-card--alpha {
    position: relative;
    max-width: 50rem;
    color: palette(color-neutral);
    background-color: palette(color-neutral, x-light);
    border-top: 2px $border-style palette(color-neutral, light);
    border-left: 2px $border-style palette(color-neutral, light);
    border-right: 2px $border-style palette(color-neutral, light);
    border-radius: 0;
    margin: 0 auto;

    &:first-child {
        &:after {
            content: "";
            width: 80%;
            height: 2px;
            background-color: palette(color-beta);
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    &:nth-child(2) {
        border-top: 0;

        &:before {
            content: "";
            width: 20%;
            height: 2px;
            background-color: palette(color-neutral, light);
            position: absolute;
            top: -2px;
            left: 0;
        }

        &:after {
            content: "";
            width: 90%;
            height: 2px;
            background-color: palette(color-gamma);
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    &:last-child {
        border-top: 0;
        border-bottom: 2px $border-style palette(color-neutral, light);
        @include margin-bottom(3);

        &:before {
            content: "";
            width: 10%;
            height: 2px;
            background-color: palette(color-neutral, light);
            position: absolute;
            top: -2px;
            left: 0;
        }

    }

    .c-card__title {
        text-transform: uppercase;
        font-weight: $beta-font-weight;
        color: palette(color-alpha);
        text-align: center;

        @include margin-tb(1.5,2);
    }

    .c-card__body {
        max-width: 80%;
        margin: 0 auto;

        @include margin-tb(.5,1.5);
        // @include margin-lr(.5,.5);
    }

    // .c-card__link {
    //     @include margin-tb(0,2);
    // }
}

.c-card--beta {
    color: palette(color-neutral,dark);
    background-color: palette(color-neutral,x-light);
    border: $border-width $border-style palette(color-neutral, light);
    font-weight: $beta-font-weight;
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100%;
    box-shadow: none;

    transition: all .1s ease-in;

    @include padding-tb(0);
    @include padding-lr(0);
    @include margin-lr(1);

    .c-card__body {
        @include margin-tb(.5,.5);
        @include margin-lr(.5,.5);
    }

    .c-card__header {
        @include aspect-ratio(16, 9);
        background-size: cover;
        background-position: center;
    }

    // &:hover {
    //     box-shadow: 0 3px 3px -2px rgba(0,0,0,.25);
    //     transform: scale(1.025);
    // }
}

.c-card--delta {
    margin: 0 auto;
    max-width: 36rem;
}

.c-card--image {
    max-width: 50%;
    border: $border-width $border-style palette(color-neutral,base);
    border-radius: $radius;
}
