/*
    Components: Icons
    ---
    UI icons
*/

.c-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
    top: 1px;
    background-repeat: no-repeat;
    background-position: center top;

    background-size: contain;

    @include hide-text;
}

.c-icon--toggle {
    background-image: url('../img/png/toggle--sprite.png');

    .svg & {
        background-image: url('../img/svg/toggle--sprite.svg');
    }

    .is-toggled & {
        background-position: center -46px;
    }
}

.c-icon--link {
    background-image: url('../img/svg/link.svg');
    width: 32px;
    height: 24px;
    background-size: cover;
    margin-left: -5px;
}

.c-icon--external {
    background-image: url('../img/svg/external.svg');
    @include margin-lr(.3);
    // width: 32px;
    // height: 24px;
    // background-size: cover;
    // margin-left: -5px;
}



.c-icon--more {
    background-image: url('../img/png/c-icon--more.png');
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    width: 15px;
    height: 20px;
    // position: absolute;
    top: 2rem;
    left: -2.3rem;
    transition: all .2s ease-in;
}

.c-icon--react {
    background-origin: black;
    background-image: url('../img/png/c-icon--react.png');
    width: 20px;
    height: 20px;
    @include margin-bottom(.2);
    @include margin-right(.6);
}

.c-icon--card {
    width: 50px;
    height: 36px;
}

.c-icon--01 {
    background-image: url('../img/png/c-icon01.png');
}

.c-icon--02 {
    background-image: url('../img/png/c-icon02.png');
    width: 70px;

}

.c-icon--03 {
    background-image: url('../img/png/c-icon03.png');
}

.c-icon--04 {
    background-image: url('../img/png/c-icon04.png');
}

.c-icon--05 {
    background-image: url('../img/png/c-icon05.png');
}

.c-icon--06 {
    background-image: url('../img/png/c-icon06.png');
}

.c-icon--07 {
    background-image: url('../img/png/c-icon07.png');
}

.c-icon--09 {
    background-image: url('../img/png/c-icon09.png');
}
