<footer class="c-row c-row--beta">
    <div class="o-container">
        <div class="o-grid">
            <div class="o-grid__item u-1-of-2">
                <p>HOW CAN WE  > <a href="#!">HELP?</a></p>
                <p>If you have any question, let us know... </p>
            </div>
            <div class="o-grid__item u-1-of-2">
                <p>
                    <ul class="o-list">
                        <li>Dreams and Creations BVBA</li>
                        <li>Visserij 260</li>
                        <li>9000 Gent</li>
                        <li>+32 (0)9 xxx xxx xxx</li>
                        <li>+32 xxx xx xx</li>
                        <li>bart@react-gent.be</li>
                    </ul>
                </p>
            </div>
        </div>
    </div>
</footer>
