<div class="c-card c-card--alpha" id="sportkompas">
  <h3 class="c-card__title">{{ include.title }}</h3>
  <div class="c-card__body">
      <img src="img/png/{{ include.image }}" alt="" class="c-card__image">
      <p class="u-text-center">
          {% for icon in include.icons %}
          <i class="c-icon c-icon--card c-icon--{{ icon }}"></i>
          {% endfor %}
      </p>
      <p>{{ include.body }}</p>
      <a href="{{ include.link }}" class="c-card__link">{{ include.link-text }}</a>
  </div>
</div>
